
/* variables */
:root {
    /*
    --background-color: #a2b8d2;
    --secondary-background-color: #5c6b8a;
    --nav-highlight-color: #f07838;
    --progress-fill-color: #138B54;
    --text-primary-color: #FFF;
    --text-secondary-color: #e63746;
    --text-dimmed-color: #4e2a5b;
    */

    --background-color: #512B81;
    --secondary-background-color: #232D3F;
    /*--nav-highlight-color: #f07838;*/
    --nav-highlight-color: #434D5F;
    --progress-fill-color: #138B54;
    --text-primary-color: #FFF;
    --text-secondary-color: #e63746;
    --text-dimmed-color: grey;
    --progress-bar-background-color: #BBB;

    --green: #138B54;

}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    max-width: 100%;
}

body {
    background-color: var(--background-color);
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary-color);
}

table {
    width: 100%;
    background-color: var(--secondary-background-color);
    color: white;
    border-collapse: collapse;
    margin: 0;
    font-size: 2em;
}

td {
    padding: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: 40px 0 0 0;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 0 0;
}

p {
    text-align: center;
    font-size: 2em;
    color: grey;
}

.grey {
    background-color: var(--secondary-background-color);
}

.green {
    background-color: #03C988;
}

.red {
    background-color: #CB0000;
}

.blue {
    background-color: #166fb7;
}

/* ---------- Big Value ---------- */

.bigvalue h1 {
    padding: 10px 0 0 0;
}

.bigvalue h2 {
    padding: 10px 0 0 0;
}

/* layout */

.content {
    padding:0;
    margin: 20px 20px 20px 20px;
}

.wrapper {
    padding: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/*---- status ----*/

.status-title {
    grid-column: 1 / span 4;
    grid-row: 1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.status-title h1 {
    padding-top: 10px;
    letter-spacing: 4px;
    border-radius: 20px;
}

.status-title p {
    padding-bottom: 20px;
    color: black;
}

.status-standby {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* drive/charge allowed */

#status-drive-allowed {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin-right: 10px;
}

#status-drive-allowed h2 {
    margin: 0 0 20px 0;
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: var(--green);
    border-radius: 10px;
}

#status-charge-allowed {
    grid-column: 3 / span 2;
    grid-row: 2;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin-left: 10px;
}

#status-charge-allowed h2 {
    margin: 0 0 20px 0;
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #CB0000;
    border-radius: 10px;
}

#status-charge-allowed table {
    margin: 0px 20px 0px 20px;
}

/* ---------- Battery Nav ---------- */

.battery-nav {
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.battery-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.battery-nav li {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.battery-nav-active {
    background-color: var(--nav-highlight-color);
    border-radius: 10px;
}

/* ---------- Battery wrappers ---------- */

#battery-status-wrapper {
    grid-column: 1 / span 4;
    grid-row: 2;
    grid-template-columns: 100%;
}

#battery-history-wrapper {
    grid-column: 1 / span 4;
    grid-row: 2;
    grid-template-columns: 100%;
}

#battery-settings-wrapper {
    grid-column: 1 / span 4;
    grid-row: 2;
    grid-template-columns: 100%;
}

/* ---------- BATTERY SUMMARY ---------- */

.battery-summary {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: var(--text-primary-color);
}

#battery-summary-kwh {
    grid-column: 1 / span 1;
    grid-row: 1;
}

#battery-summary-kwh p {
    color: var(--text-dimmed-color);
}

#battery-summary-temperature {
    grid-column: 2 / span 1;
    grid-row: 1;
}

#battery-summary-temperature p {
    color: var(--text-dimmed-color);
}

#battery-summary-soc {
    margin: 30px 0 0 0;
    grid-column: 1 / 5;
    grid-row: 2;
}

#battery-summary-soc h2 {
    padding: 0 0 10px 0;
}

#battery-soc-background {
    grid-row: 2;
    background-color: var(--progress-bar-background-color);
    border-radius: 20px;
    border: 1px solid grey;
    margin: 0 30px 0 30px;
}

#battery-soc-fill {
    background-color: var(--green);
    border-radius: 20px;
}

#battery-soc-fill p {
    vertical-align: middle;
    color: white;
    font-size: 5em;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    margin:0;
}

/* ---------- Deltas min/avg/max ---------- */

.cell-voltages-summary {
    grid-column: 1 / 5;
    grid-template-columns: 33% 33% 33%;
    display: grid;
    grid-row: 3;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 10px 0 30px 0;
    margin: 0 0 20px 0;
    color: var(--text-primary-color);
}

.battery-status-voltages-min {
    grid-column: 1 / span 1;
    grid-row: 1;
}

.battery-status-voltages-min p {
    color: var(--text-dimmed-color);
}

.battery-status-voltages-delta {
    grid-column: 2 / span 1;
    grid-row: 1;
}

.battery-status-voltages-delta p {
    color: var(--text-dimmed-color);
}

.battery-status-voltages-max {
    grid-column: 3 / span 1;
    grid-row: 1;
}

.battery-status-voltages-max p {
    color: var(--text-dimmed-color);
}

/* ---------- Battery Pack Nav & Voltages/Temperatures Nav ---------- */

.pack-nav {
    grid-column: 1 / span 4;
    grid-row: 4;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.pack-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pack-nav li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.pack-nav-active {
    background-color: var(--nav-highlight-color);
    border-radius: 10px;
}


.voltage-temperature-nav {
    grid-column: 1 / span 4;
    grid-row: 5;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 50px 0;
}

.voltage-temperature-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.voltage-temperature-nav li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.voltage-temperature-nav-active {
    background-color: var(--nav-highlight-color);
    border-radius: 10px;
}


/* ---------- Cell Voltages ---------- */

.cell-voltages {
    grid-row: 6;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 50% 50%;
    --color: var(--green);
    margin: 0 20px 20px 0;
    padding: 0 0 0 0;
    width: 100%;
}

.cell-voltages .bar {
    --secondary-axes-color: white;
}

#cell-voltages-module-1-graph {
    grid-row: 1;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-voltages-module-2-graph {
    grid-row: 1;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

#cell-voltages-module-3-graph {
    grid-row: 2;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-voltages-module-4-graph {
    grid-row: 2;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

#cell-voltages-module-5-graph {
    grid-row: 3;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-voltages-module-6-graph {
    grid-row: 3;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

.charts-css.show-heading caption {
    font-size: 1.2em;
    padding: 10px 0 10px 0;
}

/* ---------- Cell Temperatures ---------- */

.cell-temperatures {
    grid-row: 6;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 50% 50%;
    --color: var(--green);
    margin: 0 20px 20px 0;
    padding: 0 0 0 0;
    width: 100%;
}

.cell-temperatures .bar {
    --secondary-axes-color: white;
}

#cell-temperatures-module-1-graph {
    grid-row: 1;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-temperatures-module-2-graph {
    grid-row: 1;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

#cell-temperatures-module-3-graph {
    grid-row: 2;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-temperatures-module-4-graph {
    grid-row: 2;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

#cell-temperatures-module-5-graph {
    grid-row: 3;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-temperatures-module-6-graph {
    grid-row: 3;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

/* ---------- Battery History Graphs ---------- */

.soc-over-time-graph {
    grid-row: 6;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 100%;
    --color: var(--green);
    margin: 0 20px 20px 0;
    padding: 0 0 0 0;
    width: 100%;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.soc-over-time-graph .line {
    --secondary-axes-color: white;
}

.soc-over-time-graph h2 {
    font-size: 2.8em;
    padding: 10px 0 20px 0;
}

.voltage-over-time-graph {
    grid-row: 7;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 100%;
    --color: var(--green);
    margin: 0 20px 20px 0;
    padding: 0 0 0 0;
    width: 100%;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.voltage-over-time-graph .line {
    --secondary-axes-color: white;
}

.voltage-over-time-graph h2 {
    font-size: 2.8em;
    padding: 10px 0 20px 0;
}

.temperature-over-time-graph {
    grid-row: 8;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 100%;
    --color: var(--green);
    margin: 0 20px 20px 0;
    padding: 0 0 0 0;
    width: 100%;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.temperature-over-time-graph .line {
    --secondary-axes-color: white;
}

.temperature-over-time-graph h2 {
    font-size: 2.8em;
    padding: 10px 0 20px 0;
}

/* ---------- Battery Settings ---------- */

#setting-long-range {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin-bottom: 10px;
    grid-template-columns: 50% 50%;
}

#long-range-toggle-caption {
    grid-column: 1 / span 1;
}

#long-range-toggle-toggle {
    grid-column: 2 / span 1;
}

/* ---------- Drive Summary ---------- */

.drive-status {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 10px 0 40px 0;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin-bottom: 10px;
    justify-items: center;
}

.drive-status-range {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.drive-status-range h1 {
    padding-top: 10px;
    color: var(--text-primary-color);
}

.drive-status-whkm {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.drive-status-whkm h1 {
    padding-top: 10px;
}


/* ---------- Drive Power Graph ---------- */

.drive-status-graph {
    grid-column: 1 / span 4;
    grid-row: 2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    --color: var(--green);
    color: white;
}

.drive-status-graph .bar {
    --secondary-axes-color: white;
}

.drive-status-graph h1 {
    padding: 20px 0 30px 0;
}

#drive-power-table .column {
    /* --primary-axis-color: #166fb7; */
}

#drive-power-table tbody th {
    color: black;
}




/* ---------- Charge Nav ---------- */

.charge-nav {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.charge-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.charge-nav li {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}


/* ---------- charge status ---------- */

.charge-status {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 1 / span 4;
    grid-row: 3;
    border-radius: 10px;
    margin-bottom: 10px;
}

.charge-status-summary {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin-bottom: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
}

.charge-status-power {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.charge-status-time {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.charge-status-progress {
    grid-column: 1 / span 4;
    grid-row: 2;
}

.charge-status-progress h2 {
    padding: 0 0 10px 0;
}

.charge-status-table {
    grid-column: 1 / span 4;
    grid-row: 3;
    padding: 20px;
}

.charge-status-table table {
    margin: 20px 0 0 0;
}

.charge-status-graph {
    grid-column: 1 / span 4;
    grid-row: 4;
    --color: var(--green);
    overflow-x: auto;
    grid-auto-flow: column;
    display: grid;
    width: 1600px; 
}

.charge-status-graph .column {
    --secondary-axes-color: white;
    --labels-size: 4em;
}

#charge-status-graph-table {
    width: 1600px;
}

.charge-status-stop {
    grid-column: 1 / span 4;
    grid-row: 5;
    padding: 10px 0 0 0;
}

/* ---------- charge settings ---------- */

.charge-settings {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 1 / span 4;
    grid-row: 3;
    padding: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.charge-settings-charge-limit {
    grid-column: 1 / span 4;
}

.charge-settings-charge-limit-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 100px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* Mouse-over effects */
.charge-settings-charge-limit-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.charge-settings-charge-limit-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 100px; /* Set a specific slider handle width */
  height: 100px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.charge-settings-charge-limit-slider::-moz-range-thumb {
  width: 100px; /* Set a specific slider handle width */
  height: 100px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* */

.charge-progress-background {
    background-color: var(--progress-bar-background-color);
    border-radius: 20px;
    margin: 0 20px 0 20px;
}

.charge-progress-fill {
    background-color: var(--green);
    border-radius: 20px;
}

.charge-progress-fill p {
    color: white;
    font-size: 5em;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}

/* layout */

.nav {
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.nav-active {
    background-color: var(--nav-highlight-color);
    border-radius: 10px;
}

.chage-nav li {
    width: 50%;
}

.charge-nav-active {
    background-color: var(--nav-highlight-color);
    border-radius: 10px;
}

/* shared */

/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



/* Status */

/* Battery */

.battery-voltages {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--secondary-background-color);
    margin: 0px 0 10px 0;
}

.battery-voltages h1 {
    padding: 5px 0 5px 0;
    font-size: 1.2em;
    font-weight: 700;
}

.battery-voltage-bars {
    height: 100px;
    background-color:white;
    margin: 0 20px 0 20px;
    padding:1px;
}

.battery-voltage-bar {
    float: left;
    width:1%;
    background-color: var(--green);
    margin-bottom:0;
    bottom:0;
    border-right:1px solid white;
}


.table-container {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--secondary-background-color);
}

.table-container tr {
    border-top: 1px solid grey;
}

.table-container tr:first-child {
    border:none;
}

.button {
    background-color: #DA0C81;
    color: white;
    width: 100%;
    border-radius: 11px;
    border: 0;
    line-height: 1.5em;
    font-size: 4.5em;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}


.hidden {
    display: none;
}